# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE / editors
.vscode/
.idea/

# Dependencies
node_modules/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.*.local

# Package manager cache
.pnpm-store/

# OS / temporary files
Thumbs.db
*.tmp
*.swp
